body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde300;
    color: #ff6300;
}

header {
    background-color: #fde300;
    padding: 20px;
    text-align: center;
    color: white;
}

.logo {
    width: 350px;
    vertical-align: middle;
    margin-right: 10px;
}

header h1 {
    display: inline;
    font-size: 2em;
}

.intro {
    padding: 50px;
    text-align: center;
    font-size: 1.9em;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(247, 161, 161);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ff6300;
}

form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #d80b0b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #d80b0b;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #ff8484;
    border: 1px solid #c53b3b;
    border-radius: 4px;
    text-align: center;
}