<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de IMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Faça o teste e calcule seu IMC</h1>
    <form action="/" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="name" name="nome" required><br>

        <label for="peso">Peso (kg):</label>
        <input type="number" step="0.1" id="peso" name="peso" required><br>

        <label for="altura">Altura (m):</label>
        <input type="number" step="0.01" id="altura" name="altura" required><br>
        
        <button type="submit">Calcular</button>
    </form>
</body>
</html>